<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

        <application
        android:name=".app.SAPWizardApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">

            <provider
                android:authorities="${applicationId}.provider"
                android:name="androidx.core.content.FileProvider"
                android:exported="false"
                android:grantUriPermissions="true">

                <meta-data
                    android:name="androidx.core.content.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />

                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />

            </provider>

        <activity
            android:name=".ui.WelcomeActivity"
            android:theme="@style/splashScreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainBusinessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
		<activity
			android:name=".ui.odata.ODataActivity"
			android:launchMode="singleTop"
			android:configChanges="keyboardHidden"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>

        <activity
            android:name="com.sap.cloud.mobile.foundation.authentication.OtpResponseActivity"
            tools:node="replace"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="<Your-App-ID>.xcallbackurl" />
            </intent-filter>
        </activity>
	</application>
</manifest>
